.whether{
  background-image: url("img/weather.jpeg");
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover
}

h1{
  font-size: 400px;
}
.box{
  margin: auto;
  width: 450px;
  height: 300px;
  border-color: 4px solid black;
}
.icon{
  width: 70px;
  height: 70px;
}
.tempIcon{
  width: 55px;
  height: 55p55
}
.humidIcon{
  width: 55px;
  height: 55px;
}
.windIcon{
  width: 55px;
  height: 55px;
}